PUBLIC_ORIGIN=https://portofolio.jikss.my.id

# PostgreSQL on VPS public IP.
# Use the same values as the PostgreSQL service/user/database on the VPS.
POSTGRES_HOST=YOUR_VPS_PUBLIC_IP
POSTGRES_PORT=5432
POSTGRES_DB=portofolio
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-postgres-password
# Set to require only if your PostgreSQL server is configured for SSL.
# POSTGRES_SSLMODE=require
DATABASE_POOL_MAX=5

ADMIN_EMAIL=admin@jikss.my.id
ADMIN_PASSWORD=change-this-admin-password
ADMIN_TOKEN=change-this-admin-token-32chars

S3_ENDPOINT=http://seaweed-s3:8333
S3_BUCKET=portfolio
S3_ACCESS_KEY_ID=portfolio
S3_SECRET_ACCESS_KEY=portfolio-secret-change-me
